<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 用户操作DAO -->
	<bean id="userDAO" class="cn.sun.dao.GenericDAO">
		<constructor-arg index="0" type="java.lang.String" value="cn.sun.domain.User"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<!-- 用户操作DAO -->
	<bean id="wrfzjsDAO" class="cn.sun.dao.GenericDAO">
		<constructor-arg index="0" type="java.lang.String" value="cn.sun.domain.Wrfzjs"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
		<bean id="qiyeDAO" class="cn.sun.dao.GenericDAO">
		<constructor-arg index="0" type="java.lang.String" value="cn.sun.domain.Qiye"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 功能操作dao -->
	<bean id="funcDAO" class="cn.sun.dao.GenericDAO">
		<constructor-arg index="0" type="java.lang.String" value="cn.sun.domain.Function"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 角色操作dao -->
	<bean id="roleDAO" class="cn.sun.dao.GenericDAO">
		<constructor-arg index="0" type="java.lang.String" value="cn.sun.domain.Role"></constructor-arg>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
</beans>
